@import 'fonts.css';

:root{
   --r-r:  'Raleway-Regular';
   --r-b: 'Raleway-Black';
   --r-t: 'Raleway-Thin';
   --r-bold: 'Raleway-Bold';
   --r-i: 'Raleway-Italic';
   --dark: #060002;
   --green-1: #4e9f0d;
   --green-2: #69cf17;
   --grey: #dedede;
   --col-1: calc(100% / 12 * 1);
   --col-2: calc(100% / 12 * 2);
   --col-3: calc(100% / 12 * 3);
   --col-4: calc(100% / 12 * 4);
   --col-5: calc(100% / 12 * 5);
   --col-6: calc(100% / 12 * 6);
   --col-7: calc(100% / 12 * 7);
   --col-8: calc(100% / 12 * 8);
   --col-9: calc(100% / 12 * 9);
   --col-10: calc(100% / 12 * 10);
   --col-11: calc(100% / 12 * 11);
   --col-12: calc(100% / 12 * 12);
}

body{
   min-width: 320px;       
}

.block{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: chocolate;
    display: none;
}

.block h1{
    font-size: 20px;
    color: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.justify-content-between{
    justify-content: space-between;
}
.justify-content-start{
    justify-content: start;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.align-items-start{
    align-items: start;
}

.flex-column{
    flex-direction: column;
}

.flex-grow-1{
    flex-grow: 1;
}

.col-4{
    width: var(--col-4);
    padding: 0 15px;
}

.col-12{
    width: var(--col-12);
    padding: 0 15px;
}

body{
    background: var(--dark);
}

/* header start */

.header{
    background: url(../img/fon-header.jpg) no-repeat center center / cover;
    min-height: 772px;
}

.header .logo{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-family: var(--r-b);
    background: var(--green-1);
    border: 3px solid var(--green-2);
    border-radius: 5px;
    padding: 3px 16px;
    transition: 0.5s;
}

.header .logo:hover{
    background: var(--green-2);
}

.header .logo img{
    margin-right: 10px;
}

.header__menu-ul{
    display: flex;
}

.header__menu-ul a{
    font-family: var(--r-r);
    font-size: 20px;
    color: var(--green-2);
    padding: 37px 15px;
    transition: 0.5s;
    display: flex;
}

.header__menu-ul a:hover{
    background: var(--green-2);
    color: #ffffff;
}

.header__menu-ul a span{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #ffffff;
    color: var(--green-2);
    margin-left: 6px;
}


.header h1{
    font-family: var(--r-b);
    font-size: 72px;
    color: var(--green-2);
    text-transform: uppercase;
    margin-top: 149px;
}

.header__text-1{
    font-family: var(--r-r);
    color: var(--green-2);
    font-size: 36px;
}

.header__text-2{
    font-family: var(--r-r);
    color: #e13d3d;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 78px;
}

.header__text-button{
    font-family: var(--r-t);
    color: #ffffff;
    font-size: 60px;
    padding: 28px 90px;
    background: rgba(106, 207, 23, 0.75);
    width: 355px;
}

/****************************************/
/************main-start******************/

main ul{
    margin: 50px 68px;
    
}

main ul li{
    margin-right: 44px;
}

main ul li a{
    font-family: var(--r-bold);
    font-size: 20px;
    color: var(--grey);
    transition: 0.5s;
    
}

main ul li a:hover{
    color: var(--green-2);
}

section .section-img{
    position: relative;
}

section .section-img img{
    width: 100%;
}

section .section-img button{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    font-family: var(--r-bold);
    font-size: 0px;
    color: white;
    background: rgba(106, 207, 23, 0.90);
    opacity: 0;
    transition: 0.5s;
}

section .section-img:hover button{
    opacity: 1;
    font-size: 24px;
    width: 100%;
    height: 100%;
}

section h2{
    font-family: var(--r-bold);
    font-size: 24px;
    color: var(--green-2);
    text-transform: uppercase;
    margin: 37px 0 27px;
}

section p{
    font-family: var(--r-r);
    font-size: 16px;
    color: var(--grey);
}

section{
    margin-top: 63px;
}

/*****************************************/
/**************footer-start***************/

footer{
    width: 100%;
    height: 255px;
    background: linear-gradient( to top, #002505 , #000000 );
    margin-top: 60px;
    
}

footer .logo{
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    font-family: var(--r-b);
    background: var(--green-1);
    border: 3px solid var(--green-2);
    border-radius: 5px;
    padding: 3px 16px;
    transition: 0.5s;
}

footer .logo a{
    color:white;
}

footer .logo:hover{
    background: var(--green-2);
}

footer .logo img{
    margin-right: 10px;
}

footer .tel {
    color: var(--green-2);
    font-size: 24px;
}

footer h2{
    color: white;
    text-align: center;
    margin-top: 60px;
}



/************************************/
/*******section-block****************/

.section-block{
    background: url(../img/fon-section.jpg) no-repeat center center / cover;
    padding: 62px 0 124px;
    background-attachment: fixed;
}

.section-block h3::after{
    content: '';
    width: 200px;
    height: 1px;
    background: var(--green-2);
    display: block;
    margin: auto;
    margin-top: 39px;
    margin-bottom: 33px;
}

.section-block h3{
    font-family: var(--r-bold);
    font-size: 36px;
    color: var(--green-2);
    text-transform: uppercase;
}

.section-block p{
    font-family: var(--r-r);
    color: white;
    font-size: 18px;
    margin-top: 31px;
}



/***********************************/
/**************maps*****************/

.maps h4{
    font-family: var(--r-bold);
    font-size: 36px;
    color: var(--green-2);
    text-align: center;
    background: #ffffff;
    text-transform: uppercase;
    padding: 50px 0 57px;
    
}


/* ******************************** */
/* madia */

@media (max-width: 837px){
    .header h1 {
        font-size: 50px;
       /*  color: aquamarine; */
    }
}

@media (max-width: 768px){
    .col-md-6{
        width: var(--col-6);
    }
}

@media (max-width: 650px){
    .header__menu-ul a {
        padding: 18px 8px;
    }
    
    .header .logo {
        font-size: 18px;
    }
    
    .header__text-button {
        padding: 19px 60px;
        width: 305px;
    }
}

@media (max-width: 576px){
    .col-sm-12{
        width: var(--col-12);
    }
}

@media (max-width: 571px){
    .header h1 {
        font-size: 37px;
    }
    .header__text-1 {
        font-size: 30px;
    }
    
    .header__text-2 {
        font-size: 13px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    
    .header__text-button {
        font-size: 40px;
        padding: 10px 30px;
        width: 177px;
    }
}

@media (max-width:531px){
    .header .logo {
        margin-top: 20px;
        margin-left: 10px;
    }
}

@media (max-width: 411px){
    .header h1 {
        font-size: 20px;
        margin-top: 77px;
    }
    
    .header__text-1 {
        font-size: 18px;
    }
    
    .header__text-2 {
        font-size: 12px;
    }
}

@media (max-width: 320px){
    .header__menu-ul a {
        font-size: 15px;
    }   
}

@media (max-width: 319px){
    .block{
        display: block;
    }
}
